<!--添加Consul集群modal-->
<div class="modal fade" id="consul" tabindex="-1" role="dialog"
     aria-labelledby="consulLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="consulLabel">
          添加集群
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="consulForm">
          <div class="form-group">
            <label for="consul_name" class="col-sm-3 control-label">集群名称：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" id="consul_name" ng-model="consulCtrl.consulAddModal.registryName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">注册中心类型：</label>

            <div class="col-sm-9">
             <select class="form-control" ng-model="consulCtrl.consulAddModal.type">
               <option value="consul" selected>Consul</option>
             </select>
            </div>
          </div>
          <div class="form-group">
            <label for="consul_address" class="col-sm-3 control-label">注册中心地址：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" id="consul_address" name="inputAdds"
                     ng-model="consulCtrl.consulAddModal.address" required
                     ng-pattern="/^[\s\S]*?\:([1-9])$|^[\s\S]*?\:([1-9][0-9])$|^[\s\S]*?\:([1-9][0-9][0-9])$|^[\s\S]*?\:([1-9][0-9][0-9][0-9])$|^[\s\S]*?\:([1-6][0-5][0-5][0-3][0-5])$/">
            </div>
          </div>
          <div class="form-group" ng-if="consulForm.inputAdds.$invalid && consulForm.inputAdds.$dirty">
            <label for="consul_address" class="col-sm-3 control-label"></label>

            <div class="col-sm-9">
              Port should in 1 - 65535
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="consulCtrl.addConsul()" ng-disabled="consulForm.$invalid">
          确认
        </button>
      </div>
    </div>
  </div>
</div>


<!--编辑Consul集群modal-->
<div class="modal fade" id="consul-setting" tabindex="-1" role="dialog"
     aria-labelledby="consulSettingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="consulSettingLabel">
          编辑集群
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="consulSettingForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">集群名称：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="consulCtrl.consulModal.registryName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">注册中心类型：</label>

            <div class="col-sm-9">
              <select class="form-control" ng-model="consulCtrl.consulModal.type">
                <option value="consul" selected>Consul</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">注册中心地址：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" name="inputAdds" ng-model="consulCtrl.consulModal.address" required
                     ng-pattern="/^[\s\S]*?\:([1-9])$|^[\s\S]*?\:([1-9][0-9])$|^[\s\S]*?\:([1-9][0-9][0-9])$|^[\s\S]*?\:([1-9][0-9][0-9][0-9])$|^[\s\S]*?\:([1-6][0-5][0-5][0-3][0-5])$/">
            </div>
          </div>
          <div class="form-group" ng-if="consulSettingForm.inputAdds.$invalid && consulSettingForm.inputAdds.$dirty">
            <label for="consul_address" class="col-sm-3 control-label"></label>

            <div class="col-sm-9">
              Port should in 1 - 65535
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="consulCtrl.editConsul(consulCtrl.consulModal)"
                ng-disabled="consulSettingForm.$invalid">
          确认
        </button>
      </div>
    </div>
  </div>
</div>


<!--删除Consul集群modal-->
<div class="modal fade" id="consul-del" tabindex="-1" role="dialog"
     aria-labelledby="consulDelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="consulDelLabel">
          删除集群
        </h4>
      </div>
      <div class="modal-body">
        确定删除{{consulCtrl.consulModal.registryName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="consulCtrl.delConsul(consulCtrl.consulModal.registryId)">
          确认
        </button>
      </div>
    </div>
  </div>
</div>