
<!--添加location modal-->
<div class="modal fade" id="location" tabindex="-1" role="dialog"
     aria-labelledby="locationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="locationLabel">
          新建转发规则
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="locationForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">规则名称：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="locationCtrl.locationItem.locationName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">路径匹配：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="locationCtrl.locationItem.urimatch">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">URL重写：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="locationCtrl.locationItem.rewrite">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">后端服务：</label>

            <div class="col-sm-3">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="locationCtrl.locationItem.upstreamId"  class="form-control" ng-disabled="locationCtrl.haveDynamic">
                <option value="">未选择</option>
                <option ng-repeat="upstream in locationCtrl.upstreams" value="{{upstream.upstreamId}}">{{upstream.serviceName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">认证：</label>
            <div class="col-sm-3">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="locationCtrl.luasArray[0]"  class="form-control" ng-change="locationCtrl.luasArrayChange()">
                <option value="">未选择</option>
                <option ng-repeat="lua in locationCtrl.luas" value="{{lua.luaId}}" ng-if="lua.type == 'auth'">{{lua.name}}</option>
              </select>
            </div>

          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">动态代理：</label>

            <div class="col-sm-3">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="locationCtrl.luasArray[1]"  class="form-control" ng-change="locationCtrl.onChangeLua();locationCtrl.luasArrayChange()">
                <option value="">未选择</option>
                <option ng-repeat="lua in locationCtrl.luas" value="{{lua.luaId}}" ng-if="lua.type == 'dynamic_proxy'">{{lua.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">脚本列表：</label>

            <div class="col-sm-9">
              <table class="table">
                <thead>
                <tr>
                  <th class="model-th">脚本名称</th>
                  <th class="model-th">脚本类型</th>
                  <th class="model-th">执行阶段</th>
                  <th>
                    <img src="images/add.png" alt="add" class="addPng dropdown-toggle" data-toggle="dropdown" title="添加"/>
                         
                  <div class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer list-group" style="right: -143px;top: 0;margin:0;padding:0;">
                      <a  class="dropdown-toggle list-group-item" data-toggle="collapse" ng-repeat="lua in locationCtrl.luas">
                        {{lua.name}}
                      </a>
          </div>
                  </th>
                </tr>
                </thead>
                <tbody>
               <tr ng-repeat="lua in locationCtrl.luasList"  class="nodeList">
                 <td>
                   <input type="text" class="form-control" ng-model="lua.name">
                 </td>
                 <td>
                   <input type="text" class="form-control" ng-model="lua.type">
                 </td>
                 <td>
                   <input type="text" class="form-control"
                          ng-model="lua.stage">
                 </td>
                 <td style="vertical-align: middle">
                    <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
                         ng-click="locationCtrl.popNode($index)"
                         ng-if="locationCtrl.luas.length > 1 && !(lua.type == 'auth' || lua.type == 'dynamic_proxy')"
                         title="删除"/>
                    <img src="images/lock.png" alt="del" class="delPng"
                         ng-if="lua.type == 'auth' || lua.type == 'dynamic_proxy'"
                         title=""/>
                  </td>
               </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group" ng-if="advancedSetting">
            <label class="col-sm-3 control-label">代理配置：</label>

            <div class="col-sm-9">
              <textarea type="text" class="form-control textarea-modal" ng-model="locationCtrl.locationItem.proxyConf"></textarea>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-3 control-label"></label>

            <div class="col-sm-9">
              <span ng-click="advancedSetting ? advancedSetting = false : advancedSetting = true"
                style="cursor: pointer;">{{advancedSetting ? '隐藏' : '显示'}}高级设置</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="locationCtrl.addLocation()" ng-disabled="locationForm.$invalid">
          确认
        </button>
      </div>
    </div>
  </div>
</div>

<!--删除location modal-->
<div class="modal fade" id="location-del" tabindex="-1" role="dialog"
     aria-labelledby="locationDelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="locationDelLabel">
          删除转发规则
        </h4>
      </div>
      <div class="modal-body">
        确定删除{{locationCtrl.locationModal.locationName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="locationCtrl.delLocation(locationCtrl.locationModal.locationId)">
          确认
        </button>
      </div>
    </div>
  </div>
</div>

<!--编辑location modal-->
<div class="modal fade" id="location-setting" tabindex="-1" role="dialog"
     aria-labelledby="locationSettingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="locationSettingLabel">
          编辑转发规则
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="locationEditForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">规则名称：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="locationCtrl.locationModal.locationName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">路径匹配：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="locationCtrl.locationModal.urimatch">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">URL重写：</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="locationCtrl.locationModal.rewrite">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">后端服务：</label>

            <div class="col-sm-3">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="locationCtrl.locationModal.upstreamId"  class="form-control" ng-disabled="locationCtrl.haveDynamic || locationCtrl.luasArray[1]">
                <option value="">未选择</option>
                <option ng-repeat="upstream in locationCtrl.upstreams" value="{{upstream.upstreamId}}"
                  ng-selected="locationCtrl.locationModal.upstreamId == upstream.upstreamId">{{upstream.serviceName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">认证：</label>
            <div class="col-sm-3">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="locationCtrl.luasArray[0]"  class="form-control" >
                <option value="">未选择</option>
                <option ng-repeat="lua in locationCtrl.luas" value="{{lua.luaId}}" ng-if="lua.type == 'auth'"
                  ng-selected="locationCtrl.luasArray[0] == lua.luaId">{{lua.name}}</option>
              </select>
            </div>

          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">动态代理：</label>

            <div class="col-sm-3">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="locationCtrl.luasArray[1]"  class="form-control" ng-change="locationCtrl.onChangeLua()">
                <option value="">未选择</option>
                <option ng-repeat="lua in locationCtrl.luas" value="{{lua.luaId}}" ng-if="lua.type == 'dynamic_proxy'"
                        ng-selected="locationCtrl.luasArray[1] == lua.luaId">{{lua.name}}</option>
              </select>
            </div>
          </div>
          <!--<div class="form-group">-->
          <!--<label class="col-sm-3 control-label">脚本列表：</label>-->

          <!--<div class="col-sm-9">-->
          <!--&lt;!&ndash;<textarea type="text" class="form-control textarea-modal" ng-model="locationCtrl.locationItem.defaultType"></textarea>&ndash;&gt;-->
          <!--<table class="table">-->
          <!--<thead>-->
          <!--<tr>-->
          <!--<th class="model-th">脚本名称</th>-->
          <!--<th class="model-th">脚本类型</th>-->
          <!--<th class="model-th">执行阶段-->
          <!--<img src="images/add.png" alt="add" class="addPng" data-toggle="modal" data-target="#location" title="添加"/>-->
          <!--</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr ng-repeat="lua in locationCtrl.luas">-->
          <!--<td>-->
          <!--<input type="text" class="form-control model-input" ng-model="lua.name">-->
          <!--</td>-->
          <!--<td>-->
          <!--<input type="text" class="form-control model-input" ng-model="lua.type">-->
          <!--</td>-->
          <!--<td>-->
          <!--<input type="text" class="form-control model-input"-->
          <!--ng-model="lua.stage">-->
          <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
          <!--</table>-->
          <!--</div>-->
          <!--</div>-->
          <div class="form-group" ng-if="advancedSetting">
            <label class="col-sm-3 control-label">代理配置：</label>

            <div class="col-sm-9">
              <textarea type="text" class="form-control textarea-modal" ng-model="locationCtrl.locationModal.proxyConf"></textarea>
            </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-3 control-label"></label>

            <div class="col-sm-9">
              <span ng-click="advancedSetting ? advancedSetting = false : advancedSetting = true"
                    style="cursor: pointer;">{{advancedSetting ? '隐藏' : '显示'}}高级设置</span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="locationCtrl.editLocation(locationCtrl.locationModal)">
          确认
        </button>
      </div>
    </div>
  </div>
</div>