<!--删除server modal-->
<div class="modal fade" id="server" tabindex="-1" role="dialog" aria-labelledby="serverLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        <h4 class="modal-title" id="serverLabel">
          新建监听器
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="serverForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">分组：</label>

            <div class="col-sm-4">
              <select ng-model="serverCtrl.serverItem.nginxGroupId" class="form-control">
                <option value="">未选择</option>
                <option ng-repeat="group in serverCtrl.nginxGroups" value="{{group.nginxGroupId}}">{{group.groupName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">域名规则：</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="serverCtrl.serverItem.domain" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">监听端口：</label>

            <div class="col-sm-4">
              <input type="number" class="form-control" name="portInput" ng-model="serverCtrl.serverItem.port" min="1" max="65535" required>
            </div>
            <div class="col-sm-5 tipTxt" ng-if="serverForm.portInput.$invalid && serverForm.portInput.$dirty">
              Port should in 1 - 65535
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">数据压缩：</label>

            <div class="col-sm-4">
                <input type="checkbox" ng-model="serverCtrl.serverItem.compression">
            </div>
          </div>

          <!--<div class="form-group">
            <label class="col-sm-3 control-label">HTTPS：</label>

            <div class="col-sm-4">
              <select ng-model="serverCtrl.serverItem.nginxGroupId" class="form-control">
                <option value="">不开启</option>
                <option value="shuyun.com">shuyun.com</option>
              </select>
            </div>
          </div>-->
          <div class="form-group">
            <label class="col-sm-3 control-label">变量：</label>

            <div class="col-sm-9">
              <table class="table">
                <thead>
                <tr>
                  <th class="model-th">Key</th>
                  <th class="model-th">Value</th>
                  <th class="model-th">
                    <img src="images/add.png" alt="add" class="addPng" ng-click="serverCtrl.addNode('add')"
                         title="添加"/>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="node in serverCtrl.envListItem" class="nodeList">
                  <td>
                    <input type="text" class="form-control " ng-model="node.key">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="node.value">
                  </td>
                  <td style="vertical-align: middle">
                    <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
                         ng-click="serverCtrl.popNode($index,'add')"
                         ng-show="serverCtrl.envListItem.length > 1"
                         title="删除"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="serverCtrl.addServe()" ng-disabled="serverForm.$invalid">
          确认
        </button>
      </div>

    </div>
  </div>
</div>

<!--编辑server modal-->
<div class="modal fade" id="server-edit" tabindex="-1" role="dialog" aria-labelledby="serverEditLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        <h4 class="modal-title" id="serverEditLabel">
          编辑监听器
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="serverForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">分组：</label>

            <div class="col-sm-4">
              <select ng-model="serverCtrl.serverItem.nginxGroupId" class="form-control">
                <option value="">未选择</option>
                <option ng-repeat="group in serverCtrl.nginxGroups" value="{{group.nginxGroupId}}">{{group.groupName}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">域名规则：</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="serverCtrl.serverItem.domain" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">监听端口：</label>

            <div class="col-sm-4">
              <input type="number" class="form-control" name="portInput" ng-model="serverCtrl.serverItem.port" min="1" max="65535" required>
            </div>
            <div class="col-sm-5 tipTxt" ng-if="serverForm.portInput.$invalid && serverForm.portInput.$dirty">
              Port should in 1 - 65535
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">数据压缩：</label>

            <div class="col-sm-4">
                <input type="checkbox" ng-model="serverCtrl.serverItem.compression">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">变量：</label>

            <div class="col-sm-9">
              <table class="table">
                <thead>
                <tr>
                  <th class="model-th">Key</th>
                  <th class="model-th">Value</th>
                  <th class="model-th">
                    <img src="images/add.png" alt="add" class="addPng" ng-click="serverCtrl.addNode()"
                         title="添加"/>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="node in serverCtrl.envList" class="nodeList">
                  <td>
                    <input type="text" class="form-control " ng-model="node.key">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="node.value">
                  </td>
                  <td style="vertical-align: middle">
                    <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
                         ng-click="serverCtrl.popNode($index)"
                         ng-show="serverCtrl.envList.length > 1"
                         title="删除"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="serverCtrl.addServe()" ng-disabled="serverForm.$invalid">
          确认
        </button>
      </div>

    </div>
  </div>
</div>


<!--绑定location modal-->
<div class="modal fade" id="server-location" tabindex="-1" role="dialog" aria-labelledby="serverLocationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        <h4 class="modal-title" id="serverLocationLabel">
          绑定转发规则
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="locationServerForm">
          <div class="form-group">
            <label class="col-sm-2 control-label">Type：</label>

            <div class="col-sm-4">
              <input type="radio" name="type" id="type0" value="0" ng-model="serverCtrl.serverLocation.type">
              <label class="control-label" for="type0">公共服务</label>

              <input type="radio" name="type" id="type1" value="1" ng-model="serverCtrl.serverLocation.type">
              <label class="control-label" for="type1">私有服务</label>
            </div>
            <label class="col-sm-2 control-label">Location：</label>

            <div class="col-sm-4">

              <select ng-change="serverCtrl.changeLocation(index)" ng-model="serverCtrl.index" class="form-control">
                  <option value="">未选择</option>
                  <option ng-repeat="location in serverCtrl.locations" value="{{$index}}">{{location.urimatch}}
                  </option>
                </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Match：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="serverCtrl.locationItem.urimatch" required disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Internal：</label>

            <div class="col-sm-10">
              <input type="checkbox" ng-model="serverCtrl.locationItem.internal" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Include：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="serverCtrl.locationItem.include" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Rewrite：</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="serverCtrl.locationItem.rewrite" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Upstream：</label>

            <div class="col-sm-10">
              <!--<input type="text" class="form-control" id="upstream_balancing" ng-model="upstreamBalancing" required>-->
              <select ng-model="serverCtrl.locationItem.upstreamId" class="form-control" disabled="disabled">
                  <option value="">--请选择--</option>
                  <option ng-repeat="upstream in serverCtrl.upstreams"
                          ng-selected="serverCtrl.locationItem.upstream.upstreamId == upstream.upstreamId"
                          value="{{upstream.upstreamId}}" disabled="disabled">{{upstream.serviceName}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Lua：</label>

            <div class="col-sm-10">
              <select ng-model="serverCtrl.locationItem.luaId" class="form-control" disabled="disabled">
                  <option>--请选择--</option>
                  <option ng-repeat="lua in serverCtrl.luas"
                          ng-selected="serverCtrl.locationItem.lua.luaId == lua.luaId"
                          value="{{lua.luaId}}">{{lua.fileName}}
                  </option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">DefaultType：</label>

            <div class="col-sm-10">
              <textarea type="text" class="form-control textarea-modal" ng-model="serverCtrl.locationItem.defaultType" disabled="disabled"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Excmd：</label>

            <div class="col-sm-10">
              <textarea type="text" class="form-control textarea-modal" ng-model="serverCtrl.locationItem.excmd" disabled="disabled"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
          </button>
        <button type="button" class="btn btn-primary" ng-click="serverCtrl.serverBindLocation()" ng-disabled="locationServerForm.$invalid">
            确认
          </button>
      </div>
    </div>
  </div>
</div>

</div>