<div class="container-fluid" id="main-container">

  <div class="table-responsive ual-table">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>后端服务名称</th>
        <th>负载策略</th>
        <th>保持连接数</th>
        <th>
          <img src="images/add.png" alt="add" class="addPng" data-toggle="modal" data-target="#upstream" title="添加"/>
        </th>
      </tr>
      </thead>
      <tbody ng-repeat="upstream in upstreamCtrl.upstreams">
      <tr class="tr-hover" ng-click="upstreamCtrl.showOrHide($index,$event)">
        <td>{{upstream.serviceName}}</td>
        <td>{{upstream.balancing}}</td>
        <td>{{upstream.keepalive}}</td>

        <!--<td style="cursor: pointer" data-toggle="modal" ><img class="settingImg" src="../images/setting.png"></td>-->
        <td style="width: 100px">
          <img class="settingImg" src="images/setting.png" data-toggle="modal"
               ng-click="upstreamCtrl.getUpstreamId($index,'setting',null,$event)" title="编辑">
          &nbsp;&nbsp;&nbsp;
          <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
               ng-click="upstreamCtrl.getUpstreamId($index,'del',null,$event)"
               title="删除"/>
        </td>
      </tr>
      <tr class="intable">
        <td colspan="4" style="padding: 0 50px;border: none">
          <div class="showOrHide" style="height: 0;">
            <table class="table table-condensed " style="background-color: #f5f5f5">
              <thead>
              <tr>
                <th>目标地址</th>
                <th>端口号</th>
                <th>权重</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="node in upstream.nodeList">
                <td>{{node.split(':')[0]}}</td>
                <td>{{node.split(':')[1]}}</td>
                <td>{{node.split(':')[2]}}</td>
                <td style="width: 100px">
                  <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
                       ng-if="upstream.nodeList.length > 1"
                       ng-click="upstreamCtrl.getUpstreamId($index,'delNode',upstream)"
                       title="删除"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>

<!--添加upstream modal-->
<div class="modal fade" id="upstream" tabindex="-1" role="dialog"
     aria-labelledby="upstreamLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="upstreamLabel">
          新建后端服务
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="upstreamForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">服务名称：</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="upstreamCtrl.upstreamItem.serviceName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">负载均衡：</label>

            <div class="col-sm-4">
              <select ng-model="upstreamCtrl.upstreamItem.balancing" class="form-control">
                <option value="">-请选择-</option>
                <option value="round_robin">round_robin</option>
                <option value="least_conn">least_conn</option>
                <option value="ip_hash">ip_hash</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">节点列表：</label>

            <div class="col-sm-9">
              <table class="table">
                <thead>
                <tr>
                  <th class="model-th">目标主机</th>
                  <th class="model-th">端口</th>
                  <th class="model-th">权重</th>
                  <th class="model-th">
                    <img src="images/add.png" alt="add" class="addPng" ng-click="upstreamCtrl.addNode('add')"
                         title="添加"/>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="node in upstreamCtrl.nodeArrayItem" class="nodeList">
                  <td>
                    <input type="text" class="form-control " ng-model="node.address">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="node.port">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="node.weight">
                  </td>
                  <td style="vertical-align: middle">
                    <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
                         ng-click="upstreamCtrl.popNode($index,'add')"
                         ng-show="upstreamCtrl.nodeArrayItem.length > 1"
                         title="删除"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">连接保持：</label>

            <div class="col-sm-3">
              <input type="text" class="form-control" ng-model="upstreamCtrl.upstreamItem.keepalive">
            </div>
            <div class="col-sm-2 control-label">(连接数)</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="upstreamCtrl.addUpstream()"
                ng-disabled="upstreamForm.$invalid">
          确认
        </button>
      </div>
    </div>
  </div>
</div>

<!--删除upstream modal-->
<div class="modal fade" id="upstream-del" tabindex="-1" role="dialog"
     aria-labelledby="upstreamDelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="upstreamDelLabel">
          删除转发规则
        </h4>
      </div>
      <div class="modal-body">
        确定删除{{upstreamCtrl.upstreamModal.serviceName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary"
                ng-click="upstreamCtrl.delUpstream(upstreamCtrl.upstreamModal)">
          确认
        </button>
      </div>
    </div>
  </div>
</div>

<!--删除upstream node modal-->
<div class="modal fade" id="upstream-del-node" tabindex="-1" role="dialog"
     aria-labelledby="upstreamDelNodeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="upstreamDelNodeLabel">
          删除节点
        </h4>
      </div>
      <div class="modal-body">
        确定删除{{upstreamCtrl.nodeUpstream}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary"
                ng-click="upstreamCtrl.delUpstream(upstreamCtrl.upstreamModal,'del-node')">
          确认
        </button>
      </div>
    </div>
  </div>
</div>

<!--编辑upstream modal-->
<div class="modal fade" id="upstream-setting" tabindex="-1" role="dialog"
     aria-labelledby="upstreamSettingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="upstreamSettingLabel">
          编辑后端服务
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="upstreamEditForm">
          <div class="form-group">
            <label class="col-sm-3 control-label">服务名称：</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="upstreamCtrl.upstreamModal.serviceName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">负载均衡：</label>

            <div class="col-sm-4">
              <select ng-model="upstreamCtrl.upstreamModal.balancing" class="form-control">
                <option value="">-请选择-</option>
                <option value="round_robin">round_robin</option>
                <option value="least_conn">least_conn</option>
                <option value="ip_hash">ip_hash</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">节点列表：</label>

            <div class="col-sm-9">
              <table class="table">
                <thead>
                <tr>
                  <th class="model-th">目标主机</th>
                  <th class="model-th">端口</th>
                  <th class="model-th">权重</th>
                  <th class="model-th">
                    <img src="images/add.png" alt="add" class="addPng" ng-click="upstreamCtrl.addNode('edit')"
                         title="添加"/>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="node in upstreamCtrl.nodeArray" class="nodeList">
                  <td>
                    <input type="text" class="form-control " ng-model="node.address">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="node.port">
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="node.weight">
                  </td>
                  <td style="vertical-align: middle">
                    <img src="images/del_gray.png" alt="del" class="delPng" data-toggle="modal"
                         ng-click="upstreamCtrl.popNode($index,'edit')"
                         ng-show="upstreamCtrl.nodeArray.length > 1"
                         title="删除"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">连接保持：</label>

            <div class="col-sm-3">
              <input type="text" class="form-control" ng-model="upstreamCtrl.upstreamModal.keepalive">
            </div>
            <div class="col-sm-2 control-label">(连接数)</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
        <button type="button" class="btn btn-primary" ng-click="upstreamCtrl.editUpstream()"
                ng-disabled="upstreamEditForm.$invalid">
          确认
        </button>
      </div>
    </div>
  </div>
</div>

</div>
